<header class="p-header">
	<h2 class="p-title">View Categories</h2>
</header>

<div class="table-responsive">
	<a href="#/categories-new"><button>Add new </button></a>
<table class="table table-bordered table-striped">
	<thead>
		<tr>	
			<th>Index</th>
			<th>Category</th>
			<th>Category Description</th>
			<th width ="1%">Edit</th>
			<th width="1%">Delete</th>
		</tr>

	</thead>
	<tbody ng-repeat="category in categories">
		<tr>
			<td><%$index+1 %></td>
			<td><%category.name%></td>
			<td><%category.description%></td>
			<td><a href="javascript:;" ng-click="edit(category.id)">Edit</a></td>
			<td><a href="javascript:;" ng-click="delete(category,$index,$event)">Delete</a></td>
		</tr>
	</tbody>
</table>
</div>







</div>